/*! Basscss | http://basscss.com | MIT License */
/* Colors */
/* Borders */
/* Spacing */
/* Z Index */
/* Colors */
.text-black {
  color: #222222; }

.text-gray {
  color: #666666; }

.text-red {
  color: #CC332C; }

.text-white {
  color: #FFFFFF; }

.bg-gray {
  background-color: #F0F0F0; }

.bg-red {
  color: #CC332C; }

.bg-white {
  background-color: #FFFFFF; }

.bg-black {
  background-color: #222222; }

/* All of the css to style navbar */
.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #F0F0F0; }

.dropdown:hover .dropdown-content {
  display: block; }

.shadow {
  -webkit-box-shadow: 0px 5px 15px -9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 15px -9px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 15px -9px rgba(0, 0, 0, 0.2); }

/* Media queries to show and hide navigation when they overlap */
@media screen and (min-width: 1060px) {
  .collapsed-navigation {
    display: none; } }
@media screen and (max-width: 1059px) {
  .full-navigation {
    display: none; } }
/* Basscss Typography */
html {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6, p, li, .text_01, .text_02, .text_03, .text_04, .button, .primary-button, .secondary-button, .text-link {
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif; }

h1 {
  font-size: 3.14rem;
  font-weight: 700; }

h2 {
  font-size: 2.57rem;
  font-weight: 700; }

h3 {
  font-size: 2.14rem;
  font-weight: 700; }

h4 {
  font-size: 1.86rem;
  font-weight: 700; }

h5 {
  font-size: 1.43rem;
  font-weight: 700; }

h6 {
  font-size: 1.29rem;
  font-weight: 700; }

.text_01 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.42rem; }

.text_02 {
  font-size: 1.143rem;
  font-weight: 400;
  line-height: 24px; }

.text_03 {
  font-size: 1.29rem;
  font-weight: 400;
  line-height: 1.71rem; }

.text-caption {
  font-size: .86rem;
  font-weight: 400;
  line-height: 1.57rem; }

.bold {
  font-weight: 700; }

.prose {
  line-height: 1.86rem; }

.font-family-inherit {
  font-family: inherit; }

.font-size-inherit {
  font-size: inherit; }

.text-decoration-none {
  text-decoration: none; }

.red-underline {
  border-bottom: 4px solid #CC332C; }

.bold {
  font-weight: 700; }

.regular {
  font-weight: normal; }

.italic {
  font-style: italic; }

.caps {
  text-transform: uppercase; }

.nowrap {
  white-space: nowrap; }

.break-word {
  word-wrap: break-word; }

.list-style-none {
  list-style: none; }

.underline {
  text-decoration: underline; }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.list-reset {
  list-style: none;
  padding-left: 0; }

.left-align {
  text-align: left; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

.justify {
  text-align: justify; }

@media screen and (min-width: 250px) {
  .sm-left-align {
    text-align: left; }

  .sm-center {
    text-align: center; }

  .sm-right-align {
    text-align: right; }

  .sm-justify {
    text-align: justify; } }
@media screen and (min-width: 800px) {
  .md-left-align {
    text-align: left; }

  .md-center {
    text-align: center; }

  .md-right-align {
    text-align: right; }

  .md-justify {
    text-align: justify; } }
/* Basscss Layout */
.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-auto {
  overflow: auto; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.fit {
  max-width: 100%; }

.full-width {
  width: 100%; }

.border-box {
  box-sizing: border-box; }

.left {
  float: left; }

.right {
  float: right; }

.max-width-1 {
  max-width: 20%; }

.max-width-2 {
  max-width: 40%; }

.max-width-3 {
  max-width: 60%; }

.max-width-4 {
  max-width: 80%; }

@media screen and (min-width: 250px) {
  .sm-max-width-1 {
    max-width: 20%; }

  .sm-max-width-2 {
    max-width: 40%; }

  .sm-max-width-3 {
    max-width: 60%; }

  .sm-max-width-4 {
    max-width: 88%; } }
@media screen and (min-width: 750px) {
  .md-max-width-1 {
    max-width: 20%; }

  .md-max-width-2 {
    max-width: 40%; }

  .md-max-width-3 {
    max-width: 60%; }

  .md-max-width-4 {
    max-width: 80%; } }
@media screen and (min-width: 1300px) {
  .lg-max-width-1 {
    max-width: 20%; }

  .lg-max-width-2 {
    max-width: 40%; }

  .lg-max-width-3 {
    max-width: 60%; }

  .lg-max-width-4 {
    max-width: 80%; } }
@media screen and (min-width: 1580px) {
  .lg-max-width-1 {
    max-width: 20%; }

  .lg-max-width-2 {
    max-width: 40%; }

  .lg-max-width-3 {
    max-width: 60%; }

  .x-lg-max-width-4 {
    max-width: 70%; } }
/* Align */
.align-baseline {
  vertical-align: baseline; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

/* Basscss Margin */
.m0 {
  margin: 0; }

.mt0 {
  margin-top: 0; }

.mr0 {
  margin-right: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.mx0 {
  margin-left: 0;
  margin-right: 0; }

.my0 {
  margin-top: 0;
  margin-bottom: 0; }

.m1 {
  margin: 0.5rem; }

.mt1 {
  margin-top: 0.5rem; }

.mr1 {
  margin-right: 0.5rem; }

.mb1 {
  margin-bottom: 0.5rem; }

.ml1 {
  margin-left: 0.5rem; }

.mx1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.my1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m2 {
  margin: 1rem; }

.mt2 {
  margin-top: 1rem; }

.mr2 {
  margin-right: 1rem; }

.mb2 {
  margin-bottom: 1rem; }

.ml2 {
  margin-left: 1rem; }

.mx2 {
  margin-left: 1rem;
  margin-right: 1rem; }

.my2 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m3 {
  margin: 2rem; }

.mt3 {
  margin-top: 2rem; }

.mr3 {
  margin-right: 2rem; }

.mb3 {
  margin-bottom: 2rem; }

.ml3 {
  margin-left: 2rem; }

.mx3 {
  margin-left: 2rem;
  margin-right: 2rem; }

.my3 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m4 {
  margin: 4rem; }

.mt4 {
  margin-top: 4rem; }

.mr4 {
  margin-right: 4rem; }

.mb4 {
  margin-bottom: 4rem; }

.ml4 {
  margin-left: 4rem; }

.mx4 {
  margin-left: 4rem;
  margin-right: 4rem; }

.my4 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.mxn1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.mxn2 {
  margin-left: 1rem;
  margin-right: 1rem; }

.mxn3 {
  margin-left: 2rem;
  margin-right: 2rem; }

.mxn4 {
  margin-left: 4rem;
  margin-right: 4rem; }

.m-auto {
  margin: auto; }

.mt-auto {
  margin-top: auto; }

.mr-auto {
  margin-right: auto; }

.mb-auto {
  margin-bottom: auto; }

.ml-auto {
  margin-left: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

/* Basscss Padding */
.p0 {
  padding: 0; }

.pt0 {
  padding-top: 0; }

.pr0 {
  padding-right: 0; }

.pb0 {
  padding-bottom: 0; }

.pl0 {
  padding-left: 0; }

.px0 {
  padding-left: 0;
  padding-right: 0; }

.py0 {
  padding-top: 0;
  padding-bottom: 0; }

.p1 {
  padding: 0.5rem; }

.pt1 {
  padding-top: 0.5rem; }

.pr1 {
  padding-right: 0.5rem; }

.pb1 {
  padding-bottom: 0.5rem; }

.pl1 {
  padding-left: 0.5rem; }

.py1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.px1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.p2 {
  padding: 1rem; }

.pt2 {
  padding-top: 1rem; }

.pr2 {
  padding-right: 1rem; }

.pb2 {
  padding-bottom: 1rem; }

.pl2 {
  padding-left: 1rem; }

.py2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.px2 {
  padding-left: 1rem;
  padding-right: 1rem; }

.p3 {
  padding: 2rem; }

.pt3 {
  padding-top: 2rem; }

.pr3 {
  padding-right: 2rem; }

.pb3 {
  padding-bottom: 2rem; }

.pl3 {
  padding-left: 2rem; }

.py3 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.px3 {
  padding-left: 2rem;
  padding-right: 2rem; }

.p4 {
  padding: 4rem; }

.pt4 {
  padding-top: 4rem; }

.pr4 {
  padding-right: 4rem; }

.pb4 {
  padding-bottom: 4rem; }

.pl4 {
  padding-left: 4rem; }

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.px4 {
  padding-left: 4rem;
  padding-right: 4rem; }

:root {
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem; }

/* Basscss Grid */
.col {
  float: left;
  box-sizing: border-box; }

.col-right {
  float: right;
  box-sizing: border-box; }

.col-1 {
  width: calc(1/12 * 100%); }

.col-2 {
  width: calc(2/12 * 100%); }

.col-3 {
  width: calc(3/12 * 100%); }

.col-4 {
  width: calc(4/12 * 100%); }

.col-5 {
  width: calc(5/12 * 100%); }

.col-6 {
  width: calc(6/12 * 100%); }

.col-7 {
  width: calc(7/12 * 100%); }

.col-8 {
  width: calc(8/12 * 100%); }

.col-9 {
  width: calc(9/12 * 100%); }

.col-10 {
  width: calc(10/12 * 100%); }

.col-11 {
  width: calc(11/12 * 100%); }

.col-12 {
  width: 100%; }

@media screen and (min-width: 250px) {
  .sm-col {
    float: left;
    box-sizing: border-box; }

  .sm-col-right {
    float: right;
    box-sizing: border-box; }

  .sm-col-1 {
    width: calc(1/12 * 100%); }

  .sm-col-2 {
    width: calc(2/12 * 100%); }

  .sm-col-3 {
    width: calc(3/12 * 100%); }

  .sm-col-4 {
    width: calc(4/12 * 100%); }

  .sm-col-5 {
    width: calc(5/12 * 100%); }

  .sm-col-6 {
    width: calc(6/12 * 100%); }

  .sm-col-7 {
    width: calc(7/12 * 100%); }

  .sm-col-8 {
    width: calc(8/12 * 100%); }

  .sm-col-9 {
    width: calc(9/12 * 100%); }

  .sm-col-10 {
    width: calc(10/12 * 100%); }

  .sm-col-11 {
    width: calc(11/12 * 100%); }

  .sm-col-12 {
    width: 100%; } }
@media screen and (min-width: 785px) {
  .md-col {
    float: left;
    box-sizing: border-box; }

  .md-col-right {
    float: right;
    box-sizing: border-box; }

  .md-col-1 {
    width: calc(1/12 * 100%); }

  .md-col-2 {
    width: calc(2/12 * 100%); }

  .md-col-3 {
    width: calc(3/12 * 100%); }

  .md-col-4 {
    width: calc(4/12 * 100%); }

  .md-col-5 {
    width: calc(5/12 * 100%); }

  .md-col-6 {
    width: calc(6/12 * 100%); }

  .md-col-7 {
    width: calc(7/12 * 100%); }

  .md-col-8 {
    width: calc(8/12 * 100%); }

  .md-col-9 {
    width: calc(9/12 * 100%); }

  .md-col-10 {
    width: calc(10/12 * 100%); }

  .md-col-11 {
    width: calc(11/12 * 100%); }

  .md-col-12 {
    width: 100%; } }
@media screen and (min-width: 1300px) {
  .lg-col {
    float: left;
    box-sizing: border-box; }

  .lg-col-right {
    float: right;
    box-sizing: border-box; }

  .lg-col-1 {
    width: calc(1/12 * 100%); }

  .lg-col-2 {
    width: calc(2/12 * 100%); }

  .lg-col-3 {
    width: calc(3/12 * 100%); }

  .lg-col-4 {
    width: calc(4/12 * 100%); }

  .lg-col-5 {
    width: calc(5/12 * 100%); }

  .lg-col-6 {
    width: calc(6/12 * 100%); }

  .lg-col-7 {
    width: calc(7/12 * 100%); }

  .lg-col-8 {
    width: calc(8/12 * 100%); }

  .lg-col-9 {
    width: calc(9/12 * 100%); }

  .lg-col-10 {
    width: calc(10/12 * 100%); }

  .lg-col-11 {
    width: calc(11/12 * 100%); }

  .lg-col-12 {
    width: 100%; } }
.flex {
  display: flex; }

@media (--breakpoint-sm) {
  .sm-flex {
    display: flex; } }
@media (--breakpoint-md) {
  .md-flex {
    display: flex; } }
@media (--breakpoint-lg) {
  .lg-flex {
    display: flex; } }
.flex-column {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.items-start {
  align-items: flex-start; }

.items-end {
  align-items: flex-end; }

.items-center {
  align-items: center; }

.items-baseline {
  align-items: baseline; }

.items-stretch {
  align-items: stretch; }

.self-start {
  align-self: flex-start; }

.self-end {
  align-self: flex-end; }

.self-center {
  align-self: center; }

.self-baseline {
  align-self: baseline; }

.self-stretch {
  align-self: stretch; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.justify-evenly {
  justify-content: space-evenly; }

.content-start {
  align-content: flex-start; }

.content-end {
  align-content: flex-end; }

.content-center {
  align-content: center; }

.content-between {
  align-content: space-between; }

.content-around {
  align-content: space-around; }

.content-stretch {
  align-content: stretch; }

/* 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  /* 1 */
  min-height: 0;
  /* 1 */ }

.flex-none {
  flex: none; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-last {
  order: 99999; }

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
/* Basscss Position */
.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.top-0 {
  top: 0; }

.right-0 {
  right: 0; }

.bottom-0 {
  bottom: 0; }

.left-0 {
  left: 0; }

.z1 {
  z-index: 1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

/* Basscss Border */
.border {
  border-style: solid;
  border-width: 1px;
  border-color: #DCDCDC; }

.border-top {
  border-top-style: solid;
  border-top-width: 1px; }

.border-right {
  border-right-style: solid;
  border-right-width: 1px; }

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.border-left {
  border-left-style: solid;
  border-left-width: 1px; }

.border-none {
  border: 0; }

.rounded {
  border-radius: 6px; }

.circle {
  border-radius: 50%; }

.rounded-top {
  border-radius: 6px 6px 0 0; }

.rounded-right {
  border-radius: 0 6px 6px 0; }

.rounded-bottom {
  border-radius: 0 0 6px 6px; }

.rounded-left {
  border-radius: 6px 0 0 6px; }

.not-rounded {
  border-radius: 0; }

/* Basscss Hide */
.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

@media screen and (max-width: 784px) {
  .sm-hide {
    display: none !important; } }
@media screen and (min-width: 785px) {
  .md-hide {
    display: none !important; } }
@media screen and (min-width: 1300px) {
  .lg-hide {
    display: none !important; } }
.display-none {
  display: none !important; }

/* Colors */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

ul a {
  text-decoration: none;
  color: #222222; }

/* Buttons */
a {
  text-decoration: none;
  color: #222222; }

.primary-button {
  background-color: #CC332C;
  border: none;
  border-radius: 40px;
  color: #FFFFFF;
  padding: 14px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer; }

.secondary-button {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 40px;
  color: black;
  padding: 14px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer; }

.secondary-button:hover, .primary-button:hover {
  background-color: black;
  color: white;
  webkit-transition-duration: 0.3s;
  /* Safari */
  transition-duration: 0.3s; }

.secondary-button:active, .primary-button:active {
  box-shadow: 0 0 8px #666666;
  webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s; }

.block-link {
  display: block; }

.big-text-link {
  font-weight: 700;
  text-decoration: none;
  font-size: 16px; }

.text-link {
  font-weight: 700;
  text-decoration: underline; }

/* Icons - Icons are a work in progress, haven't decide on implementation yet */
.icon-dropdown {
  padding-right: 8px;
  background-position: 97% center;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-image: url("../images/icons/icon_dropdown.svg"); }

.icon-menu {
  background-position: 5% center;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-image: url("../images/icons/icon_menu.svg"); }

/*# sourceMappingURL=uac.css.map */
