/* Colors */

.text-black { color: var(--black) }
.text-gray  { color: var(--gray) }
.text-red   { color: var(--red) }
.bg-gray    { background-color: var(--bg-gray) }
.bg-red     { color: var(--red) }

:root {
    --black:       #222222;
    --gray:   	   #666666; 
    --bg-gray:     #f1f1f1;
    --red:         #B7251F;
    --black:       #222222;
    --border-gray: #dcdcdc;
}

