/* Custom CSS for the Affliates banner */

.lift-tickets-module {
	background-image: url("../images/discount.jpg");
	background-repeat: no-repeat, repeat;
	background-size: cover;
}

.backcountry-module {
	background-image: url("../images/backcountry.jpg");
	background-repeat: no-repeat, repeat;
	background-size: cover;
}


.image-gradient {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.2), rgba(255,255,255,.5), rgba(255,255,255,.8), rgba(255,255,255,1));
}
