/* Buttons */

.primary-button {
    background-color: $red;
    border: none;
    border-radius: 40px;
    color: $white;
    padding: 14px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.secondary-button {
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 40px;
    color: black;
    padding: 14px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.secondary-button:hover, .primary-button:hover {
    background-color: black;
    color: white;
    webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.block-link {
    display: block;
}

.text-link {
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
}