/* Basscss Hide */

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (max-width: 749px) {
  .sm-hide { display: none !important }
}

@media screen and (min-width: 750px) {
  .md-hide { display: none !important }
}

@media screen and (min-width: 1300px) {
  .lg-hide { display: none !important }
}

.display-none { display: none !important }

