/* Colors */

$black: #222222;
$gray: #666666;
$light-gray: #999999;
$red:  #CC332C;
$border-gray: #DCDCDC;
$white: #FFFFFF;
$bg-gray: #F0F0F0;
$bg-white: #FFFFFF;
$bg-black: #222222;

/* Borders */

$border-width: 1px;
$border-radius: 6px;

/* Spacing */

$space-1: .5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;

/* Z Index */

$z1: 1;
$z2: 2;
$z3: 3;
$z4: 4;