/* Colors */

$black: #222222;
$gray: #666666;
$red:  #CC332C;
$border-gray: #DCDCDC;
$white: #FFFFFF;
$bg-gray: #F0F0F0;
$bg-white: #FFFFFF;
$bg-black: #222222;

/* Borders */

$border-width: 1px;
$border-radius: 6px;